/*imports*/
@import "../../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";
@import "../../node_modules/uikit/dist/css/uikit-rtl.min.css";
/*Font*/
@font-face {
    font-family: 'MyFont';
    src:
            url("../Fonts/BKoodakBold.eot"),
            url("../Fonts/BKoodakBold.ttf"),
            url("../Fonts/BKoodakBold.woff");
}
/*Root*/
*{
    font-family: 'MyFont','Comic Sans MS',serif !important;
}

body{
    font-family: 'MyFont','Comic Sans MS',serif !important;
    background: #F6F6F6;
}
a:hover{
    text-decoration: none;
}
/*navigation*/
#navigation{
    background: ghostwhite;
}
/*slider*/
.uk-slider-container ul li img{
    opacity: 0.5;
    transition: all 2s ease-in-out;
}
.uk-slider-container:hover{
    cursor: pointer;
}
.uk-slider-container ul li:hover img{
    opacity: 1;
    transition: all 1s revert;
    transform: rotateX(720deg);
    border-radius: 0  ;
}
/*cover conves navigationbar*/
.cover{
    opacity: 1;
}
/*scale for slider nav*/
.scale:hover{
    transition: all 1s ease-in-out;
    color: red !important;
    font-weight: bold;
}
/*navbar*/
.navbar{
    background-image: url("../Images/headers/header-background.jpg") !important;
    background-repeat: repeat-x !important;
    min-height: 140px !important;
    opacity: 1;
}
.p-color{
    color: whitesmoke !important;
}
/*border*/
.wp-border {
    height: 2em;
    /*width: 500px;*/
    background-image: url("../Images/border/background-images.jpg") !important;
    background-clip: border-box;
    background-attachment: inherit;
    background-repeat: no-repeat;
    margin: 30px auto !important;
    display: flex;
}
/*cards*/
.wp-hover:hover{
    box-shadow: 0 0 20px black !important;
    transition: all 1s ease-out;
    cursor: pointer;
}
.wp-hover:hover div{
    overflow: hidden;
}
.wp-hover:hover div img{

    transition: all 1s ease-out;
    transform: scale(1.1);
    box-sizing: border-box;
}
/*pagination*/
.wp-pagination-color{
    color: rgba(155, 37, 175, 0.89);
}
.uk-pagination li {
}
.uk-pagination li .wp-text:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    border: 1px solid #469c7d;
    border-radius: 50%;
    color: darkgoldenrod;
    box-sizing: border-box;
    text-overflow: fade;
}
/*search box*/
form input[type=search]{
    outline: none !important;
    border: 1px solid transparent;
    user-select: none;
}

/*footer*/
footer{
    background-image: url("../Images/headers/header-background.jpg");
    background-repeat: inherit;
    width: 100%;
    height: 100%;
    min-height: 700px;
    color: whitesmoke !important;
}
footer ul li a, footer p span a{
    color: whitesmoke !important;
}
footer ul{
    list-style-type: none ;
}
